.container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.card{
    display: flex;
    width: 30%;
    height: 180px;
    justify-content: center;
    align-items: center;
    margin: 5%;
    flex-direction:column;
    justify-content: space-between;
    padding-bottom: 1%;
}
.subCard{
    display: flex;
    flex-direction:column;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    width: 60%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.button{
    border: 0 none;
    padding: 0;
    width: 60%;
    border-radius: 5px;
}

.button:hover{
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.24)
}

.buttonImg {
    width:100%;
}